.box{
    width: 100vw;
    height: 100vh;
}
.box-center{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /*align vertical */
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
}
img{
    width: 3.5rem;
    height: 3.5rem;
}
.game_row{
    /* display: block; */
}
#game{
    margin-right: 3vh;
    background-color: black;
}
.constrain{
    height: 50vh;
    width: 25vw;
    overflow-y: scroll;
    word-break:break-all;    
}
::-webkit-scrollbar {
    display:none;
}

#hide-scroller{
    overflow: hidden
}
.profile{
    width: 1.75rem;
    height: 1.75rem;

}