.box{
    width: 100vw;
    height: 100vh;
    background-color: green;
}
.box-center{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /*align vertical */
    width: 100vw;
    height: 100vh;
    background-color: red;
}
